footer
  div.input-chat
    div.form-group.input-group
      span.input-group-addon#newNext
        i.fa.fa-plus(aria-hidden="true")
      textarea.form-control#txtMessage(style="resize: none;", rows='2', placeholder='Nhập tin nhắn vào đây!...')
      span.input-group-addon#btnSendMessage
        i.fa.fa-paper-plane
