doctype html
html(lang='en')
  //- include header vao
  include includes/head.pug
  
  //- phan body
  body
    //-include menu
    include includes/menu-main.pug
    include login.pug
    //- phan cho noi dung chinh
    block content
  //-include footer
  include includes/foot.pug
