//- extends tu base
extends base.pug

block scripts
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='js/xuly.js')

//- phan viet body
block content
  div.alert.alert-danger#alertWarning
  div.main-content
    div.container
      include includes/form-chat.pug
